/* Variables */

:root {
  --color-black: #000000;
  --color-black-10a: rgb(0 0 0 / 0.10);
  --color-black-16a: rgb(0 0 0 / 0.16);
  --color-black-32a: rgb(0 0 0 / 0.32);
  --color-black-46a: rgb(0 0 0 / 0.46);
  --color-black-70a: rgb(0 0 0 / 0.70);
  --color-black-80a: rgb(0 0 0 / 0.80);
  --color-corn: #e6b901;
  --color-grey: #f8f8f8;
  --color-supernova: #fbcb03;
  --color-white: #ffffff;
}
